version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'thursday'
    labels:
      - "kind/dependencies"
    ignore:
      - dependency-name: "@defichain/whale-*"
    versioning-strategy: 'increase'

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "kind/dependencies"
